@keyframes botao_opcao{
    0%{
        font-size: 16pt;
    }
    100%{
        background-color: #d8d8d8;
        font-size: 18pt;
        border-radius: 10px;
        padding: 5px;
    }
}

*{
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 10px;
    border-bottom: 3px solid #BD5BFF;
}

#barra_nav{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 16pt;
    cursor: pointer;
}

.opcao{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

#logo{
    color: #000;
    text-decoration: none;   
}
#teste{
    color: red;
}

#login{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: solid 1px #000;
    font-size: 14pt;
    background-color: #BD5BFF;
}

/* Segunda Parte */
article{
    width: 100%;
}

#slide{
    width: 80%;
    height: 400px;
    background-color: aqua;
    margin: auto;
    margin-top: 20px;
}

#mais_info{
    width: 25%;
    border-bottom: 3px solid #BD5BFF;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#images{
    /* background-color: aqua; */
    width: 94%;
    margin: auto;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-column-gap: 17px;
    padding: 10px;
}

.img_artista{
    width: 400px;
    height: 600px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 3px solid #9200FA;
}
.img_artista:hover{
    cursor: pointer;
}

/* Terceira parte */

footer{
    width: 100%;
    height: 100px;
    background-color: #9200FA;
    color: #fff;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 50px;
}